.clients__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients__list {
    display: flex;
}

.clients__item {
    flex-basis: calc((100% - 150px) / 6);

    border: 1px solid getColor('icons-noactive-color');
    border-radius: 4px;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: getColor('blue-text-color');
    }
}

.clients__item + .clients__item {
    margin-left: 30px;
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    padding: 0;

    color: getColor('icons-noactive-color');
    border: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: getColor('blue-text-color');
    }
}

.client__icon {
    fill: currentColor;
}