.header {
    position: relative;

    border-bottom: 1px solid getColor('border-header');
}

.header--position {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
    }
}

.menu-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
        display: none;

        padding: 48px 40px;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 796px;

        background-color: getColor('primary-bg-color') ;

        &.is-open {
            display: block;
        }
    }
}

.menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;

    & .icon-close {
        display: none;
    }
    &.is-open .icon-close {
        display: block;
    }
    &.is-open .icon-menu {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}