.header {
    border-bottom: 1px solid getColor('border-header');
}

.header--position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    // @media screen and (min-width: 768px) {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    // }
}

.menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-btn .icon-close {
    display: none;
}

.menu-btn.is-open .icon-close {
    display: block;
}

.menu-btn.is-open .icon-menu {
    display: none;
}