.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background: getColor('bg-footer-color');
}

.footer--position {
    @media screen and (min-width: 480px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px){
        display: flex;
        align-items: baseline;
    }
}